.vs/
*.dll
*.pdb
*.suo
*.cache
*.user
*.exe
*.config
*.csproj
*.baml
*.txt
*.resources
*.lref
packages/
MyGame/obj/
MyGame/Properties/
MyGame/bin/
MyGame.Test/MyGame.Test.csproj
MyGame.Test/Properties/
MyGame.Test/bin/
MyGame.Test/obj/
MyGame.Test/packages.config
MyGame.sln
MyGame/MyGame.csproj
GameLogic/Properties/
GameLogic/obj/
Lab3Ling/obj/